dconf
BraveSoftware
eog
font-manager
fontconfig
go
htop
gtk-3.0
gtk-4.0
Motrix
mozilla
nautilus
nwg-look
obs-studio
pulse
systemd
VSCodium
xsettingsd
yay
libvirt
kactivitymanagerdrc
mimeapps.list
QtProject.conf
user-dirs*
ibus*
quickshell
kdenliverc
dolphinrc
kwalletrc
bak.install.sh

Code - OSS/**
VSCodium/**
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json

!VSCodium/User/style.css
!VSCodium/User/
!VSCodium/

!.gitignore
!readme.md