* {
    primary: {{colors.primary.default.hex}};
    secondary: {{colors.secondary_fixed.default.hex}};
    surface: {{colors.surface.default.hex}};    
    surface-variant: {{colors.surface_variant.default.hex}};    
    outline: {{colors.outline.default.hex}};    
    background: {{colors.background.default.hex}};    
}
